



!config_id    001


!indir
/home/pat/aa/DEF_LG/2018_SF/sava/yy7e2-607a
# /home/pat/aa/local/ro--keep/wrk/yy7e2-523--PART

!oudir
/home/pat/wosp/prs-stractor



!dirlist
zz-stractor-dir.list


# The command called to unpack each "Video Images.all" file.
!blobractor
prs-blobractor

!end_of_data




